<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Monitoring_performance.Properties.Settings.Мониторинг_успеваемостиConnectionString"
            connectionString="Data Source=DESKTOP-R4EH7FQ;Initial Catalog=&quot;Мониторинг успеваемости&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>